---
import MainLayout from "../layouts/MainLayout.astro";
// import PageHeader from "../components/PageHeader.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Contact" description="Ny Lille Klub's 'contact' page" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

  <PageIntro  pageHeader="Contact" imageSource="/imgs/ny-lille-klub_contact.webp" imageAltText="Photo displays an empty table where you could image someone would sit whilst reply to your e-mail or other contact form-." pageDescription="Ny Lille Klub is just a message away! Got something on your mind? Don't hesitate to reach out. We're here to hear you, whatever it may be. Your thoughts matter to us, so go ahead and drop us a line. Let's keep the conversation going!">

    <address>
        <ul class="grid gap-8 not-italic font-semibold text-xl pt-8 sm:grid-cols-2">
 <a class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" href="mailto: info@nylilleklub.com"><li class="flex gap-4 items-center"><img class="group-hover:scale-125 duration-[400ms] delay-50" width="48" height="48" src="/imgs/ny-lille-klub_adress-icon.svg" alt="House - a symbol for home"><span class="group-hover:translate-x-4 duration-[400ms] delay-50">Laplandsgade 6 <br> 2300 CPH S</span></li></a>           
 <a class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" href=""><li class="flex gap-4 items-center"><img class="group-hover:scale-125 duration-[400ms] delay-50" width="48" height="48" src="/imgs/ny-lille-klub_mail-icon.svg" alt="E-mail icon"> <span class="group-hover:translate-x-4 duration-[400ms] delay-50">info@nylilleklub.com</span> </li></a>
 <a class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" href="https://www.facebook.com/profile.php?id=100094582753580" target=”_blank”><li class="flex gap-4 items-center"><img class="group-hover:scale-125 duration-[400ms] delay-50" width="48" height="48" src="/imgs/ny-lille-klub_facebook-icon.svg" alt="Facebook icon"></svg><span class="group-hover:translate-x-4 duration-[400ms] delay-50">Facebook</span></li></a>
 <a class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" href="https://www.instagram.com/ny.lille.klub" target=”_blank”><li class="flex gap-4 items-center"><img class="group-hover:scale-125 duration-[400ms] delay-50" width="48" height="48" src="/imgs/ny-lille-klub_instagram-icon.svg" alt="Instagram"><span class="group-hover:translate-x-4 duration-[400ms] delay-50">Instagram</span></li></a>
        
        </ul>
    </address>
</PageIntro>  


</MainLayout>
