---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";

---

<MainLayout title="Contact" description="Ny Lille Klub's 'contact' page" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

<section  class="grid sm:grid-cols-2 lg:grid-cols-3 gap-16">

<div class="col-span-1">
<img src="/imgs/ny-lille-klub_contact.webp" alt="">
</div>
    
<div  class="col-span-2">
<PageHeader pageHeader="Contact"/>
<h2 class="text-lg">
Ny Lille Klub is just a message away! Got something on your mind? Don't hesitate to reach out. We're here to hear you, whatever it may be. Your thoughts matter to us, so go ahead and drop us a line. Let's keep the conversation going!</h2>
</div>

</section>

</MainLayout>