---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Cookie policy" description="Ny Lille Klub's Cookie policy" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">
  <PageIntro pageHeader="Cookie policy" imageSource="/imgs/ny-lille-klub_cookie-policy.webp" imageAltText="Sunny days at Ny Lille Klub!" pageDescription="While browsing our website, you implicitly agree to our use of cookies, as outlined in this Cookie Policy. Dive into the policy for a comprehensive understanding of how these cookies enhance your online experience. This awareness ensures an informed and personalized interaction with our platform. Thanks for dedicating time to familiarize yourself with our cookie practices, reinforcing our commitment to transparency and user privacy."> </PageIntro>

  <section class="md:mb-32 mb-16 text-lg font-normal grid sm:grid-cols-2 gap-8">
    <p>
     Cookies are small text files stored on your device (computer, mobile phone, or tablet) when you visit our website. These files contain anonymous information used to remember your preferences, enhance the user experience, and collect statistics about visits to our site.<br>
<br>
 Necessary Cookies:<br>
Essential for the proper functioning of the website.
Enables navigation and use of critical features such as security and the shopping cart.<br>
<br>
Preference Cookies:<br>
Remembers your choices and preferences during your visit.
Aids in providing a more personalized experience and makes it easier for you to use the website in the future.<br>
<br>
Statistical Cookies:<br>
Assists in collecting anonymous statistics about visits and usage of our website.
We utilize this information to analyze and enhance our website, as well as measure the effectiveness of our marketing campaigns.
    </p>
    <p>
      User Consent:<br>
By accepting our cookie policy or continuing to use our website, you provide your consent to the use of cookies in accordance with this policy. You have the option to manage or disable cookies in your browser settings or by using other tools. Please note that certain parts of our website may not function correctly if you disable specific cookies.<br>
<br>
Data Storage and Security:<br>
We store and protect your data in accordance with applicable data protection laws. We do not share your personal information with third parties without your consent unless necessary to deliver our services or in accordance with legal requirements.<br>
<br>
Changes to the Cookie Policy:<br>
We reserve the right to modify this cookie policy. Any changes will be published on our website. We encourage you to regularly visit our site to stay informed about any updates.<br>
<br>
Contact Us:<br>
If you have any questions, contact us at info@nylilleklub.com
    </p>
  </section>
</MainLayout>
