---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Gallery" description="Ny Lille Klub's 'gallery' page" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

 <PageIntro  pageHeader="Gallery" imageSource="/imgs/ny-lille-klub_gallery.webp" imageAltText="Creative gathering at Ny Lille Klub." pageDescription="Explore Ny Lille Klub's Gallery – a snapshot of our vibrant community life and cultural diversity. From lively events to intimate gatherings, each photo tells a unique story. Be part of the narrative by submitting your own images – a celebration of the diverse perspectives that make Ny Lille Klub a cultural hub. Join us in sharing and cherishing the moments that define our community.">

</PageIntro>  



<div class="w3-content" style="max-width:800px">
  <img class="hidden" src="img_nature_wide.jpg" style="width:100%">
  <img class="hidden" src="img_snow_wide.jpg" style="width:100%">
  <img class="hidden" src="img_mountains_wide.jpg" style="width:100%">
</div>

<div class="w3-center">
  <div class="w3-section">
    <button class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" onclick="plusDivs(-1);">❮ Prev</button>
    <button class="border-4 bg-white border-orange-100 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group" onclick="plusDivs(1);">Next ❯</button>
  </div>
  <button class="w3-button demo" onclick="currentDiv(1);">1</button> 
  <button class="w3-button demo" onclick="currentDiv(2);">2</button> 
  <button class="w3-button demo" onclick="currentDiv(3);">3</button> 
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-red";
}
</script>



</MainLayout>

