---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Gallery" description="Ny Lille Klub's 'gallery' page" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

 <PageIntro  pageHeader="Gallery" imageSource="/imgs/ny-lille-klub_gallery.webp" imageAltText="Creative gathering at Ny Lille Klub." pageDescription="Explore Ny Lille Klub's Gallery – a snapshot of our vibrant community life and cultural diversity. From lively events to intimate gatherings, each photo tells a unique story. Be part of the narrative by submitting your own images – a celebration of the diverse perspectives that make Ny Lille Klub a cultural hub. Join us in sharing and cherishing the moments that define our community.">

</PageIntro>  


<section class="flex overflow-hidden w-full relative mb-20 ">

  <!-- SLIDE 01 -->
  <div class="w-full carousel-slide min-h-screen  ">
    <img src="/imgs/ny-lille-klub_slide01.webp" alt="Photographer: Malthe Ivarsson" class=" object-cover h-screen">
    <div class=" my-2 text-lg  px-4 lg:px-0">Photographer: Malthe Ivarsson</div>
  </div>

    <!-- SLIDE 02 -->
  <div class="w-full carousel-slide min-h-screen">
    <img src="/imgs/ny-lille-klub_slide02.webp" alt="Photographer: Duncan McKnight" class=" object-cover h-screen">
    <div class=" my-2 text-lg   px-4 lg:px-0">Photographer: Duncan McKnight</div>
  </div>

    <!-- SLIDE 03 -->
  <div class="w-full carousel-slide  min-h-screen">
    <img src="/imgs/ny-lille-klub_slide03.webp" alt="Photographer: Unknown" class=" object-cover h-screen">
    <div class=" my-2 text-lg   px-4 lg:px-0">Photographer: Unknown</div>
  </div>

  <!-- BUTTONS -->
  <div class="flex gap-16 justify-center px-4 lg:px-0 absolute bottom-0 w-full mb-16">                  
          <button id="prevBtn" onclick="changeSlide(-1);"  class="flex gap-4 font-semibold text-xl items-center justify-end w-full sm:w-1/2  md:w-1/4 border-4 bg-white bg-opacity-30 border-orange-200 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group">
            <img class="group-hover:-translate-x-4 duration-[400ms] delay-50 " width="40" height="40" src="/imgs/ny-lille-klub_left-icon.svg" alt="House - a symbol for home">
            <span class="group-hover:scale-125 duration-[400ms] delay-50" >Prev</span>
          </button>

          <button id="nextBtn" onclick="changeSlide(1);" class="font-semibold text-xl flex gap-4 items-center justify-start w-full sm:w-1/2  md:w-1/4 border-4 bg-white bg-opacity-30 border-orange-200 px-4 py-2 rounded-lg hover:bg-orange-300 hover:border-orange-300 duration-[400ms] ease-in-out group">
                        <span class="group-hover:scale-125 duration-[400ms] delay-50">Next</span>
            <img class="group-hover:translate-x-4 duration-[400ms] delay-50 "  width="40" height="40" src="/imgs/ny-lille-klub_right-icon.svg" alt="House - a symbol for home">
          </button>
</div>
</section>




<script type="text/javascript">
  let slideIndex = 1;

  function showSlide(n) {
    const slides = document.querySelectorAll('.carousel-slide');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    slides.forEach((slide) => {
      slide.style.display = 'none';
    });
    slides[slideIndex - 1].style.display = 'block';
  }

  function changeSlide(n) {
    showSlide((slideIndex += n));
  }

  // Initial display
  showSlide(slideIndex);
</script>


</MainLayout>
