---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body class="  mx-auto font-raleway grid justify-center">
		    <div class="w-auto pt-4 px-4"><img src="/imgs/ny-lille-klub_logo_white.png" alt="Ny Lille Klub logo"></div>
<!-- MOBILE NAVIGATION -->
<nav class="text-5xl font-extrabold italic text-white max-w-screen-lg sm:hidden">
        <ul class="text-center  gap-8 grid">
            <a class="" href="/events"><li>Events</li></a>
                        <a href="/join-us"><li>Join us</li></a>
                                                                        <a href="/gallery"><li>Gallery</li></a>

                                                <a class="" href="/about"><li>About</li></a>
                                                                                                <a href="/contact"><li>Contact</li></a>
        </ul>
    </nav>

			<!-- DESKTOP NAVIGATION -->
<nav class="sm:text-5xl md:text-6xl font-extrabold italic text-white max-w-screen-lg hidden sm:grid md:ml-8">
        <ul class="grid grid-cols-3">
            <a class="row-start-2 col-start-2 ml-10 pt-4" href="/events"><li>Events</li></a>
                        <a class="row-start-3 col-start-3 ml-8 pt-12" href="/join-us"><li>Join us</li></a>
                                                                        <a class="row-start-1 col-start-1 ml-4 pt-4" href="/gallery"><li>Gallery</li></a>

                                                <a class="row-start-3 col-start-1 ml-20 pt-6" href="/about"><li>About</li></a>
                                                                                                <a class="row-start-1 col-start-3 -ml-8" href="/contact"><li>Contact</li></a>


        </ul>
    </nav>	</body>
</html>

<style>
    body {
	background: linear-gradient(-45deg, #eb440f, #741438, #d52323, #950792);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

</style>