---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body class="bg-black max-w-screen-xl mx-auto font-raleway">
		    <div class="w-80"><img src="/imgs/ny-lille-klub_logo_white.png" alt="Ny Lille Klub logo"></div>

<nav class="text-6xl font-extrabold italic text-white">
        <ul>
            <a href="/events"><li>Events</li></a>
                        <a href="/members"><li>Members</li></a>
                                                                        <a href="/gallery"><li>Gallery</li></a>

                                                <a href="/about"><li>About</li></a>
                                                                                                <a href="/contact"><li>Contact</li></a>


        </ul>
    </nav>	</body>
</html>
