---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Privacy policy" description="Ny Lille Klub's Privacy policy" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

  <PageIntro  pageHeader="Privacy policy" imageSource="/imgs/ny-lille-klub_privacy-policy.webp" imageAltText="Picture from the outdoor area at Ny Lille Klub." pageDescription="At Ny Lille Klub, we prioritize your privacy. This policy outlines how we collect and use your personal information to enhance your community experience. Rest assured, your data is secure, and we do not share it with external parties. By using our website, you consent to the practices described in this policy.">

</PageIntro> 

<section class="md:mb-32 mb-16 text-lg font-normal grid sm:grid-cols-2 gap-8">
    <p>We adhere to applicable data protection laws, including the European Union's General Data Protection Regulation (GDPR). <br>
<br>
Collection and Use of Personal Information:<br>
We only collect personal information voluntarily provided by you when contacting us via our contact form, subscribing to our newsletter, or purchasing tickets for our events. This information may include your name, email address, and phone number. We use these details to respond to your inquiries, deliver our services, and provide relevant information about our tours and events.<br>
<br>
Protection of Personal Information:<br>
We take reasonable measures to safeguard your personal information against unauthorized access, alteration, or disclosure. Appropriate technical and organizational security measures are in place to protect your data.<br>
<br>
Processing and Sharing Personal Information:<br>
We process and store your personal information in compliance with applicable laws. We do not share your personal information with third parties without your consent unless necessary to deliver our services or in accordance with legal requirements.</p>
<p>
    Use of Cookies:<br>
We use cookies on our website. By using our site, you agree to the use of cookies in accordance with our cookie policy. Learn more about our cookie usage and manage your cookie settings in our cookie policy.<br>
<br>
Your Rights:<br>
You have the right to access, correct, or delete the personal information we hold about you. To exercise your rights, please contact us at [email address]. We will strive to handle your requests promptly.<br>
<br>
Changes to the Privacy Policy:<br>
We reserve the right to modify this privacy policy. Any changes will be posted on our website. We encourage you to regularly visit our site to stay informed about any updates.<br>
<br>
Contact Us:<br>
For questions or concerns regarding our privacy policy or the processing of your personal information, feel free to reach out to us at info@nylilleklub.com.<br>
</p>

</section>



</MainLayout>