---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Sitemap" description="Ny Lille Klub's sitemap" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

  <PageIntro  pageHeader="Sitemap" imageSource="/imgs/ny-lille-klub_sitemap.webp" imageAltText="A cheerful crowd as seen at a Ny Lille Klub event. Join us and our close community of like minded!" pageDescription="Explore Ny Lille Klub's sitemap for streamlined navigation! It's your go-to guide to quickly find events, member profiles, our gallery, details about us, and a direct route to get in touch. Simplify your journey through our vibrant club with our sitemap – designed for effortless navigation and easy access to key information!">

</PageIntro> 

<section class="md:mb-32 mb-16 ">
  <ul class="text-5xl font-extrabold gap-16 grid">
        <li><a href="/index">
            <h3>Landing page</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

        <li><a href="/events">
            <h3>Events</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

                    <li><a href="/join-us">
            <h3>Join us</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

                    <li><a href="/vibes">
            <h3>Vibes</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

                    <li><a href="/about">
            <h3>About</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

 <li><a href="/contact">
            <h3>Contact</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

 <li><a href="/sitemap">
            <h3>Site map</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

             <li><a href="/cookie-policy">
            <h3>Cookie Policy</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

             <li><a href="/privacy-policy">
            <h3>Privacy policy</h3>
            <p class="text-lg font-normal">Last update: 28/-11-'23</p></a></li>

  </ul>
</section>



</MainLayout>