---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";

---

<MainLayout title="Sitemap" description="Ny Lille Klub's sitemap" keywords="Ny Lille Klub, volunteer coomunity, night club, kulturhus, laplandsgade, lappen">

<section class="md:mb-32 mb-16 mx-auto grid items-center justify-center">
  <ul class="text-5xl font-extrabold gap-8 grid text-center">
    <li><a href="/index">Landing page</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/join-us">Join us</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</section>



</MainLayout>