<footer  class="w-full font-extralight text-sm  bg-white p-4">
   <div class="grid grid-cols-2 md:grid-cols-4 justify-between max-w-screen-xl mx-auto">
<!-- adresse -->
      <address>
        <ul class="gap-2 grid not-italic pb-8">
                                               <li class="font-normal">Contact us</li>
            <a href="mailto: info@nylilleklub.com"><li>info@nylilleklub.com</li></a>
            <li>Laplandsgade 6</li>
            <li>2300 Copenhagen</li>


                                               

        </ul>
   </address>
<!-- SoMe -->
         <address>
        <ul  class="gap-2 grid not-italic pb-8">
                                              <li class="font-normal">Follow us</li>
            <a href="https://www.facebook.com/profile.php?id=100094582753580" target=”_blank”><li>Facebook</li></a>
            <a href="https://www.instagram.com/ny.lille.klub/" target=”_blank”><li>Instagram</li></a>
            <a href="" target=”_blank”><li>Soundcloud</li></a>

                                               

        </ul>
   </address>

   <!-- various info -->
         <nav>
        <ul  class="gap-2 grid">
                                              <li class="font-normal">Join us</li>
            <a href="/join-us" target=”_blank”><li>Become a Member</li></a>
            <a href="" target=”_blank”><li>Volunteer</li></a>
            <a href="" target=”_blank”><li>Donate</li></a>

                                               

        </ul>
   </nav>

   <!-- various info2 -->
         <nav>
        <ul  class="gap-2 grid">
                                              <li class="font-normal">Boring Stuff</li>
            <a href="/cookie-policy" target=”_blank”><li>Cookie Policy</li></a>
            <a href="/privacy-policy" target=”_blank”><li>Privacy Policy</li></a>
            <a href="/sitemap" target=”_blank”><li>Sitemap</li></a>

                                               

        </ul>
   </nav>
   </div>
    
</footer>