<footer  class="w-full grid grid-cols-2 md:grid-cols-4 justify-between pt-80 font-extralight text-sm p-2">
    <!-- adresse -->
      <address>
        <ul class="gap-2 grid not-italic pb-8">
                                               <li class="font-normal">Contact us</li>
            <a href="mailto: info@nylilleklub.com"><li>info@nylilleklub.com</li></a>
            <li>Laplandsgade 6</li>
            <li>2300 Copenhagen</li>


                                               

        </ul>
   </address>
<!-- SoMe -->
         <address>
        <ul  class="gap-2 grid not-italic pb-8">
                                              <li class="font-normal">Follow us</li>
            <a href="https://www.facebook.com/profile.php?id=100094582753580" target=”_blank”><li>Facebook</li></a>
            <a href="https://www.instagram.com/ny.lille.klub/" target=”_blank”><li>Instagram</li></a>
            <a href="" target=”_blank”><li>Soundcloud</li></a>

                                               

        </ul>
   </address>

   <!-- various info -->
         <nav>
        <ul  class="gap-2 grid">
                                              <li class="font-normal">Join us</li>
            <a href="" target=”_blank”><li>Become a member</li></a>
            <a href="" target=”_blank”><li>Volunteer</li></a>
            <a href="" target=”_blank”><li>Donate</li></a>

                                               

        </ul>
   </nav>

   <!-- various info2 -->
         <nav>
        <ul  class="gap-2 grid">
                                              <li class="font-normal">Boring stuff</li>
            <a href="" target=”_blank”><li>Cookie policy</li></a>
            <a href="" target=”_blank”><li>Privacy policy</li></a>
            <a href="" target=”_blank”><li>Sitemap</li></a>

                                               

        </ul>
   </nav>
</footer>